<!-- this navbar is imported from documents -> component -> navbar -->
<!-- some styling has been done by me -->

<link rel="stylesheet" href="/stylesheets/navbar.css" />

<script>
  // Get the current URL path
  var path = window.location.pathname;

  // Select the navigation link based on the current URL path
  var navLinks = document.querySelectorAll(".navbar-nav .nav-link");
  navLinks.forEach(function (link) {
    if (link.getAttribute("href") === path) {
      link.classList.add("active");
    } else {
      link.classList.remove("active");
    }
  });

  fetch("/get-token")
    .then((response) => response.json())
    .then((data) => {
      const currentUser = data.token;
      // Update the navbar based on currentUser
      updateNavbar(currentUser);
    })
    .catch((error) => console.error("Error:", error));

  function updateNavbar(currentUser) {
    const navbarLinks = document.querySelectorAll(".navbar-nav .nav-link");
    navbarLinks.forEach(function (link) {
      // Check if the link href matches the current path
      if (link.getAttribute("href") === window.location.pathname) {
        link.classList.add("active");
      } else {
        link.classList.remove("active");
      }
    });

    const authLinks = document.querySelector(".navbar-nav.ms-auto");
    if (currentUser) {
      // User is logged in
      authLinks.innerHTML = `
        <a class="nav-link" href="/logout">Logout</a>
      `;
    } else {
      // User is not logged in
      authLinks.innerHTML = `
        <a class="nav-link" href="/login">Login</a>
        <a class="nav-link" href="/register">Register</a>
      `;
      // Check if the login or register link matches the current path
      const loginLink = authLinks.querySelector('a[href="/login"]');
      const registerLink = authLinks.querySelector('a[href="/register"]');
      if (window.location.pathname === "/login") {
        loginLink.classList.add("active");
      } else {
        loginLink.classList.remove("active");
      }
      if (window.location.pathname === "/register") {
        registerLink.classList.add("active");
      } else {
        registerLink.classList.remove("active");
      }
    }
  }
</script>

<nav class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand font-weight-bold text-black fw-medium" href="#"
      >BookCamp</a
    >
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link fw-medium" href="/">Home</a>
        <a class="nav-link fw-medium" href="/campgrounds">Campsites</a>
        <a class="nav-link fw-medium" href="/campgrounds/new">New Campsite</a>
      </div>
      <div class="navbar-nav ms-auto"></div>
    </div>
  </div>
</nav>
