body {
  height: 100%;
  margin: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://res.cloudinary.com/dwoqqbfk6/image/upload/v1720691159/YelpCamp/edit-compressed_k43ps2.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
