.nav-link {
  padding: 0.25rem 0;
  color: #31363f;
  margin-left: 1rem;
  border-bottom: 0.25rem solid transparent;
}

.nav-link:hover {
  color: #31363f;
  border-bottom-color: #31363f;
}

.nav-link.active {
  color: black !important;
  border-bottom-color: black;
}

.navbar {
  background-color: #b5c0d0;
}
